<div class="gowebtable">
    <div class="gowebtable-header">
        <div class="gowebtable-status">
            Showing records {{.PageDetails.RecordFirst}} to {{.PageDetails.RecordLast}} of
            {{.PageDetails.RecordsTotal}}
            records
        </div>
        <div class="gowebtable-controls">
            <input type="text" class="gowebtable-filter" id="tbl_{{.PageDetails.Table}}_GlobalFilter" />
            <span id="tbl_{{.PageDetails.Table}}_btnGlobalFilterSearch"
                class="gowebtable-btn gowebtable-filter-search-btn">Search</span>
            <span id="tbl_{{.PageDetails.Table}}_btnGlobalFilterClear"
                class="gowebtable-btn gowebtable-filter-clear-btn">Clear</span>
            {{if .Filtered}}
            <span id="tbl_{{.PageDetails.Table}}_Filtered" class="border-green p-1">Filtered</span>
            {{end}}
            <span>
                <select id="tbl_{{.PageDetails.Table}}_Limit" class="gowebtable-limit">
                    {{range .PageDetails.LimitOptions}}
                    <option>{{.}}</option>
                    {{end}}
                </select>
            </span>
            <span id="tbl_{{.PageDetails.Table}}_btnFirst" class="gowebtable-btn">First</span>
            <span id="tbl_{{.PageDetails.Table}}_btnPrevious" class="gowebtable-btn">Previous</span>
            <span id="tbl_{{.PageDetails.Table}}_btnNext" class="gowebtable-btn">Next</span>
            <span id="tbl_{{.PageDetails.Table}}_btnLast" class="gowebtable-btn">Last</span>
        </div>
        <div class="clearfix"></div>
    </div>

    <table id="tbl_{{.PageDetails.Table}}" class="gowebtable-table">
        <thead>
            <tr>
                {{range .PageDetails.Fields}}
                <th col="{{.Name}}" sort="">{{.Header}}<span class="gowebtable-icon-container">
                        <div id="tbl_{{$.PageDetails.Table}}_{{.Name}}_icon" class="gowebtable-icon"></div>
                    </span></th>
                {{end}}
            </tr>
            {{if eq .PageDetails.FieldFiltersEnabled true}}
            <tr>
                
                {{range .PageDetails.Fields}}
                {{if not .Hide}}
                <td>
                    <div style="position:relative;">
                        <div id="tbl{{$.PageDetails.Table}}_fb_{{.Name}}" name="{{.Name}}" type="{{.Type}}" class="tblFilterBox"
                            onmouseleave="$(this).hide();"></div>
                        <i id="tbl{{$.PageDetails.Table}}_fb_{{.Name}}_icon" name="{{.Name}}" type="{{.Type}}"
                            class="tblFilterBoxBtn ml-1 fas fa-filter pointer"></i>
                    </div>
                </td>
                {{end}}
                {{end}}
            </tr>
            {{end}}
        </thead>
        <tbody>
            {{if ne .PageDetails.RecordsTotal 0}}
            {{range .PageDetails.Results}}
            <tr>
                {{range .}}<td>{{.}}</td>{{end}}
            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>

    {{if eq .PageDetails.RecordsTotal 0}}
    <table class="gowebtable-table">
        <tr>
            <td>No records</td>
        </tr>
    </table>
    {{end}}

</div>


<style>
    .gowebtable {
        font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
        font-size: 0.7em;
    }

    .gowebtable-limit {
        font-size: 1.0em;
        line-height: 1.3;
        padding: .4em 2.2em .4em .4em;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #ccc;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background:
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABXElEQVR4nO3XK0tEURSG4VcFL6DBYLEZtBltVkEQ0WYXm2CdPyA2sRgGs5i0Ttai0WjRIngZvIBBGFBHw5YD4ui5zN5re8bvgdXXe8pZG0RERERERERERER+twjcAu9/bK6B+YDdibsIcVmnHrA7cRMpLstcBexOzAGvEeLS5gWYDdj9xapBUN5ZCVrcwqanxX3MRuDWlrqA/QLL+p69z12i6AeOUxYMOUdAX/DKFCPAOfbxZ8CwQV8m48A9dvF1YMykLIdpoEH4+GdgyqgptyWgSbj4N2DBrKagCuE+wJphR1uq+I/fMi1oUw9Qw1/8AdBtWuDBIHBK+/EnwIDx7t6MApcUj7/A3RmlNgk8kT/+AZiIsG8QM7jnatb4Bu6u6CjLZItv4u6JjrRO+geoRNvOyC4/x1cj7mWmFzjke3wNdz/8C0PADvCIe0VuU+J/vYiIiIiIiIiIiJTHB1l5L6lfXsFFAAAAAElFTkSuQmCC) no-repeat scroll 0 0 transparent;
        background-position: right .3em top 50%, 0 0;
        background-size: 1.0em auto, 100%;
        margin-right: 3em;
    }

    .gowebtable-filter {
        font-size: 1.0em;
        line-height: 1.3;
        padding: .4em 2.2em .4em .4em;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #ccc;
    }

    .gowebtable-filter-clear-btn {
        margin-right: 3em;
    }

    .gowebtable-table {
        border-collapse: collapse;
        width: 100%;
    }

    .gowebtable-header {
        margin-bottom: 6px;
    }

    .gowebtable-status {
        float: left;
        line-height: 24px;
    }

    .gowebtable-controls {
        float: right;
    }

    .gowebtable td,
    .gowebtable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .gowebtable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .gowebtable tr:hover {
        background-color: #ddd;
    }

    .gowebtable th {
        line-height: 20px;
        text-align: left;
        background-color: rgb(180, 180, 180);
        color: white;
        cursor: pointer;
    }

    .gowebtable-th-highlight {
        background-color: rgb(150, 150, 150) !important;
    }

    .gowebtable-btn {
        display: inline-block;
        padding: 4px;
        border: solid 1px #ccc;
        background: #eee;
        cursor: pointer;
        text-align: center;
        width: 60px;
        user-select: none;
    }

    .gowebtable-faded {
        opacity: 0.5;
        cursor: inherit;
    }

    .gowebtable-bg-highlight {
        background-color: rgb(251, 245, 70);
    }

    .gowebtable-text-red {
        color: rgb(255, 30, 30);
    }

    .gowebtable-icon-container {
        float: right;
        position: relative;
    }

    .gowebtable-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .gowebtable-arrow-down {
        background:
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABXElEQVR4nO3XK0tEURSG4VcFL6DBYLEZtBltVkEQ0WYXm2CdPyA2sRgGs5i0Ttai0WjRIngZvIBBGFBHw5YD4ui5zN5re8bvgdXXe8pZG0RERERERERERER+twjcAu9/bK6B+YDdibsIcVmnHrA7cRMpLstcBexOzAGvEeLS5gWYDdj9xapBUN5ZCVrcwqanxX3MRuDWlrqA/QLL+p69z12i6AeOUxYMOUdAX/DKFCPAOfbxZ8CwQV8m48A9dvF1YMykLIdpoEH4+GdgyqgptyWgSbj4N2DBrKagCuE+wJphR1uq+I/fMi1oUw9Qw1/8AdBtWuDBIHBK+/EnwIDx7t6MApcUj7/A3RmlNgk8kT/+AZiIsG8QM7jnatb4Bu6u6CjLZItv4u6JjrRO+geoRNvOyC4/x1cj7mWmFzjke3wNdz/8C0PADvCIe0VuU+J/vYiIiIiIiIiIiJTHB1l5L6lfXsFFAAAAAElFTkSuQmCC) no-repeat scroll 0 0 transparent;
        background-size: 20px;
    }

    .gowebtable-arrow-up {
        background:
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABXElEQVR4nO3XK0tEURSG4VcFL6DBYLEZtBltVkEQ0WYXm2CdPyA2sRgGs5i0Ttai0WjRIngZvIBBGFBHw5YD4ui5zN5re8bvgdXXe8pZG0RERERERERERER+twjcAu9/bK6B+YDdibsIcVmnHrA7cRMpLstcBexOzAGvEeLS5gWYDdj9xapBUN5ZCVrcwqanxX3MRuDWlrqA/QLL+p69z12i6AeOUxYMOUdAX/DKFCPAOfbxZ8CwQV8m48A9dvF1YMykLIdpoEH4+GdgyqgptyWgSbj4N2DBrKagCuE+wJphR1uq+I/fMi1oUw9Qw1/8AdBtWuDBIHBK+/EnwIDx7t6MApcUj7/A3RmlNgk8kT/+AZiIsG8QM7jnatb4Bu6u6CjLZItv4u6JjrRO+geoRNvOyC4/x1cj7mWmFzjke3wNdz/8C0PADvCIe0VuU+J/vYiIiIiIiIiIiJTHB1l5L6lfXsFFAAAAAElFTkSuQmCC) no-repeat scroll 0 0 transparent;
        background-size: 20px;
        transform: rotate(180deg);
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<script>


    function removeClass(id, style) {
        var element = document.getElementById(id);
        element.classList.remove(style);
    }

    function addClass(id, style) {
        var element = document.getElementById(id);
        element.classList.add(style);
    }

    function replaceClass(id, styleRemove, styleAdd) {
        var element = document.getElementById(id);
        element.classList.remove(styleRemove);
        element.classList.add(styleAdd);
    }


    var pageDetailsJSON = '{{.PageDetails.JSON}}';
    pd = JSON.parse(pageDetailsJSON);


    function doSortPrepare() {

        tbl = pd.table;

        //Set Global Filter
        $('#tbl_' + tbl + '_GlobalFilter').val(pd.globalfilterterm);

        //Highlight global filter term search
        if (pd.globalfilterterm.length > 0) {
            term = pd.globalfilterterm.toLowerCase();
            var cells = document.getElementsByTagName("td");
            for (var i = 0; i < cells.length; i++) {
                if (cells.item(i).innerHTML.toLowerCase().includes(term)) {
                    cells.item(i).classList.add('gowebtable-text-red');
                }
            }
        }

        //Click function headers
        $('#tbl_' + tbl + ' th').click(function () {
            col = $(this).attr('col');
            if (col.length > 0) { //Filter out blank servers
                $('.loader').fadeIn(100); //Load loader
                //Do direction
                if (col == pd.orderelement && pd.orderdirection == 'asc') {
                    dir = 'desc'
                } else {
                    dir = 'asc'
                }
                pd.orderelement = col;
                pd.orderdirection = dir;

                processPost();
            }
        });

        //Status
        $('#tbl_' + tbl + '_Status').html('Page ' + pd.pagecurrent + ' of ' + pd.pagecount + ' (Records ' + pd.recordfirst + ' to ' + pd.recordlast + ' of ' + pd.recordstotal + ')')

        //Limit
        $('#tbl_' + tbl + '_Limit').val(pd.limit); //Set initial value

        //Limit change
        $('#tbl_' + tbl + '_Limit').change(function () {
            $('.loader').fadeIn(100);
            pd.limit = $('#tbl_' + tbl + '_Limit').val();
            processPost();
        });

        //Global Filter Search
        $('#tbl_' + tbl + '_btnGlobalFilterSearch').click(function () {
            //$('.loader').fadeIn(100);
            processPost();
        });
        $('#tbl_' + tbl + '_GlobalFilter').on('keypress', function (e) {
            if (e.which == 13) {
                processPost();
            }
        });

        //Global Filter Clear
        $('#tbl_' + tbl + '_btnGlobalFilterClear').click(function () {
            $('#tbl_' + tbl + '_GlobalFilter').val(''); //Blank global box
            //Iterate and check all field filter checkboxes
            $('.tbl_fb_cb').each(function () {
                $(this).prop('checked', true);
            });
            //Iterate and remove marker from filter buttons
            $('.tblFilterBoxBtn').each(function () {
                $(this).removeClass('gowebtable-text-red');
            });
            processPost(); //Resubmit
        });
  
        //Arrows
        $('#tbl_' + tbl + ' th').each(function (index, element) {
            col = $(this).attr('col');
            if (col == pd.orderelement) {
                if (pd.orderdirection == 'asc') {
                    $('#tbl_' + tbl + '_' + col + '_icon').addClass('gowebtable-arrow-up');
                } else {
                    $('#tbl_' + tbl + '_' + col + '_icon').addClass('gowebtable-arrow-down');
                }
            }
        });

        //FIELD FILTER------------------------------------------------

        //Set Field Filter Options
        if (pd.fieldfilterterms != null) {

            //Populate map with field names and type
            var map = new Map();
            for (i = 0; i < pd.fieldfilterterms.length; i++) {
                map.set(pd.fieldfilterterms[i].field, pd.fieldfilterterms[i].fieldtype); //Populate array
            }

            //Iterate map
            for (let [field, fieldtype] of map) {
                $('#tbl_' + tbl + '_fb_' + field).html('Loading'); //Loading placeholder
                $('#tbl_' + tbl + '_fb_' + field).load('/filterbox/' + fieldtype + '/' + field, function () { //Load filberbox
                    $('.tbl_' + tbl + '_fb_cb_' + field).prop('checked', false); //Deselect checkboxes
                    var counter; //Setup counter
                    var counterChecked; //Setup counterChecked
                    $('.tbl_' + tbl + '_fb_cb_' + field).each(function () { //Iterate field filter checkboxes
                        counter++; //Increment counter
                        for (i = 0; i < pd.fieldfilterterms.length; i++) { //Iterate field filter terms
                            if ($(this).attr('value') == pd.fieldfilterterms[i].term && field == pd.fieldfilterterms[i].field) { //If match on field and value
                                counterChecked++; //Increment counter checked
                                $(this).prop('checked', true); //Check box
                            };
                        };
                    });
                    if (counterChecked != counter) {
                        $('#tbl_' + tbl + '_fb_' + field + '_icon').addClass('gowebtable-text-red'); //Add filter button color
                    }
                });
            }
        }

        //Filter Box Function
        $('.tblFilterBoxBtn').mouseover(function () {
            field = $(this).attr('name');
            fieldtype = $(this).attr('type');
            if ($('#tbl_' + tbl + '_fb_' + field).is(':hidden')) {
                $('.tblFilterBox').hide();
                $('#tbl_' + tbl + '_fb_' + field).show();
                filterBoxLoad(tbl, field, fieldtype);
            } else {
                $('#tbl_' + tbl + '_fb_' + field).hide();
            }
        });

        //Filter Box Load
        function filterBoxLoad(tbl, field, fieldtype) {
            if (!$.trim($('#tbl_' + tbl + '_fb_' + field).html()).length) {
                $('#tbl_' + tbl + '_fb_' + field).html('Loading')
                $('#tbl_' + tbl + '_fb_' + field).load('/filterbox/' + fieldtype + '/' + field);
            };
        }

        //BUTTON--------------------------------------------------------------

        //ButtonGeneric
        function pageButtonGeneric(page) {
            $('.loader').fadeIn(100); //Load loader
            pd.currentpage = page;
            processPost();
        };

        //btnFirst
        if (pd.pagecurrent != 1) {
            $('#tbl_' + tbl + '_btnFirst').click(function () {
                pageButtonGeneric(1);
            });
        } else {
            addClass('tbl_' + tbl + '_btnFirst','gowebtable-faded');
        };

        //btnPrevious
        if (pd.pageprevious > 0) {
            $('#tbl_' + tbl + '_btnPrevious').click(function () {
                pageButtonGeneric(pd.pageprevious);
            });
        } else {
            addClass('tbl_' + tbl + '_btnPrevious','gowebtable-faded');
        };

        //btnNext
        if (pd.pagenext != pd.pagecurrent) {
            $('#tbl_' + tbl + '_btnNext').click(function () {
                pageButtonGeneric(pd.pagenext);
            });
        } else {
            addClass('tbl_' + tbl + '_btnNext','gowebtable-faded');
        };

        //btnLast
        if (pd.pagecurrent != pd.pagecount) {
            $('#tbl_' + tbl + '_btnLast').click(function () {
                pageButtonGeneric(pd.pagecount);
            });
        } else {
            addClass('tbl_' + tbl + '_btnLast','gowebtable-faded');
        };

    }

    doSortPrepare();

    function processPost() {

        $('.loader').html('Loading').fadeIn(100);

        //Global Filter Term
        var globalFilter = $('#tbl_' + pd.table + '_GlobalFilter').val();

        //Field Filter Terms
        var fieldFilter = [];
        $('.tblFilterBox').each(function (i) {

            var field = $(this).attr('name');
            var fieldtype = $(this).attr('type');
            var counter = 0;
            var elementsChecked = [];

            $('.tbl_fb_cb_' + field).each(function () {
                counter++;
                if ($(this).prop('checked')) {
                    var element = { 'field': field, 'fieldtype': fieldtype, 'term': $(this).attr('value') };
                    elementsChecked.push(element);
                };
            });

            if (elementsChecked.length != counter) {
                //Add selected elements to array
                for (i = 0; i < elementsChecked.length; i++) {
                    fieldFilter.push(elementsChecked[i]);
                };
            }

        });

        //Limit
        var limit = $('#tbl_' + pd.table + '_Limit').val();

        //Order Terms
        if (pd.orderelement != '') {
            var orderTermsArray = [{ 'element': pd.orderelement, 'direction': pd.orderdirection }]
        }

        //Build JSON
        var data = JSON.stringify({
            'fieldfilterterms': fieldFilter,
            'globalfilterterm': globalFilter,
            'orderterms': orderTermsArray,
            'pagecurrent': parseInt(pd.currentpage),
            'limit': parseInt(limit),
        })

        $('#loader').fadeIn(100);

        doPost(pd.url, data, function (result) {
            $('#' + pd.target).html(result);
            $('#loader').fadeOut(100);
        });

    }

    function doPost(url, data, cb) {
        $.ajax({
            'url': url,
            'method': 'POST',
            'dataType': 'html',
            xhrFields: {
                withCredentials: true
            },
            processData: false,
            'contentType': 'application/json',
            'data': data,
            'success': function (result) {
                cb(result);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

</script>